[alias]
    pullall = !"git pull && git submodule foreach git pull"
    lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg1"
[user]
	email = odysseas.bournas@nokia.com
	name = Odysseas Bournas
;[http]
    ;proxy = http://10.144.1.10:8080

; [url "ssh://gerrit-essl2.int.net.nokia.com:29418"]
;         insteadOf = ssh://gerrit.ext.net.nokia.com:29418
; [url "ssh://gerrit.ext.net.nokia.com:29418"]
;         pushInsteadOf = ssh://gerrit.ext.net.nokia.com:29418
;         pushInsteadOf = ssh://gerrit-essl2.int.net.nokia.com:29418
