#!/usr/bin/env bash

TMUX_SESSIONIZER_DIRS="~/code ~/programming/aux ~/programming/nokia"
STOW_FOLDERS=("env" "bash" "i3" "nvim" "tmux" "bin" "alacritty" "git" "sway" "waybar" "intellij")
DOTFILES="$HOME/programming/aux/.dotfiles"
